mysql_root_password='rootpassword'
mysql_nextcloud_password='mysqlnextcloudpassword'
nextcloud_admin_user='admin'
nextcloud_admin_password='adminpassword'
nextcloud_url='nextcloud.test'
nextcloud_ip='192.168.100.1'
nextcloud_version='19.0.10'
use_external_storage='false'
external_storage_directory='/path/to/external/storage'
use_reverse_proxy='false'
reverse_proxy_ip='1.2.3.4'
